.container{
    height: 85vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6)
}

video{
  
 position: absolute;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
transform: translate(-50%, -50%);
  
}
#myVideo{
    height: 60vh;
    width: 100vw;
}

h1{
    color: #fff;
    font-weight: 700
}

h5{
    color: #fff;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: #00949d;
    outline: none;
    border:none;
    color:#fff;
    width: 200px;
    margin-top:30px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover,
.button:active,
.button:focus
{
    outline: none;
    color: #fff;
    text-decoration: none;
    background-color: #00646A;
}



.button a{
    text-decoration: none
}

.main-content{
    
    width: 100vw;
    background: #efefef;
    padding: 20px;

}

h3{
    margin-top: 50px;
    text-align: center;
}

.category-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.category-container li{
    font-size: 16px;
    cursor: pointer;
    color: #777;
    margin:0px 5px;
}

.category-container li:hover{
    color:#00646A;
    

}

.explore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore button{
    background: transparent;
    border:1px solid #000;
    padding: 5px 20px;
    border-radius: 4px;
    outline: none;
    text-decoration: none;

}

.explore button:hover{
    background: #000;
    color:#fff;
    outline: none;
}

ul{
    list-style: none;
}
